/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit; /*bu meros olishi psevdo elem.larda*/
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;               /*sticky footer qilish uchun*/
    font-family: "Montserrat","Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}

/* HEADER */
.header{
    height: auto;
    margin-bottom: 82px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-wrapper-black{
    background-color: rgba(0, 0, 0, 0.50);
    height: 100%;
}

/* NAVIGATION-MENU */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-bottom: 220px;
}
.nav-link {
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child) {
    margin-right: 28px;
}
.nav-item-link {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
}
.nav-item-link:hover{
    color: #efb2aa;
}
.nav-item-link:active{
    opacity: 0.6;
}

/* HEADER-INFO */
.header-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 227px;
}
.header-info-heading {
    margin: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 41px;
    font-weight: 700;
}
.header-info-text {
    margin-bottom: 44px;
    text-transform: capitalize;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.button {
    padding: 14px 28px;
    border: 2px solid #fff;
    background: rgba(196, 196, 196, 0.00);
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
}

/* MAIN HEADING */
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.heading::after{
    /* display: inline-block; */
    margin-top: 22px;
    width: 44px;
    height: 3px;
    background: #555;
    content: "";
}
/* SERVICES */
.services-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
}
.services-info-heading {
    margin-bottom: 22px;
}

.services-info-text {
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

/* SERVICES-CARD */
.services-card {
    margin-bottom: 82px;
}
.services-card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 317px;
}
.services-card-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    margin-bottom: 24px;
    border-radius: 50%;
    border: 2px solid #dedede;
    /* background: #000; */
}
.services-card-item-title {
    margin-bottom: 14px;
    text-align: center;
    color: #555;
    font-size: 15px;
    font-weight: 400;
}
.services-card-item-text {
    color: #555;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

/* ABOUT-US */
.about-us{
    background-color: #F8F8F8;
    padding-top: 83px;
    padding-bottom: 137px;
    margin-bottom: 83px;
}
.about-us-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 54px;
}
.about-us-info-heading {
    margin-bottom: 22px;
}
.about-us-info-text {
    color: #555;
    font-size: 14px;
    font-weight: 400;
}
/* ABOUT-US-CONTENT */
.about-us-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}
.about-us-content-text {
    width: 480px;
    color: #555;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; /* 200% */
}
/* ABOUT-US-IMG */
.about-us-img-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LATEST-WORKS */
.latest-works-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
}
.latest-works-info-heading {
    margin-bottom: 20px;
    color: #555;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.latest-works-list {
    display: flex;
    align-items: center;
}
.latest-works-item:not(:last-child) {
    margin-right: 19px;
}
.latest-works-link {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    transition: all 0.3s ease;
}
.latest-works-link:hover{
    color: #C1301D;
}
.latest-works-link:active{
    opacity: 0.6;
}

/* LATEST-WORKS-sample */
.latest-works-sample {
    margin-bottom: 87px;
}
.latest-works-sample-item{
    display: flex;
    justify-content: space-between;
}
.latest-works-sample-item:not(:last-child) {
    margin-bottom: 24px;
}
.latest-works-sample-img {
    display: inline-block;
}

/* GET IN TOUCH */
.touch-link {
    margin-bottom: 78px;
    height: 324px;
    background-image: url(../img/touch-link-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.touch-link-bgcolor {
    padding-top: 84px;
    height: 100%;
    background-color:  rgba(193, 48, 29, 0.60);;
}
.touch-link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.touch-link-content-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}
.touch-link-content-text:not(:first-child){
    margin-bottom: 54px;
}
.text-upper {
    text-transform: uppercase;
}

/* RECENT BLOG POSTS */
.blog {
    margin-bottom: 87px;
}
.blog-heading {
    margin-bottom: 99px;
}
.blog-item {
    display: flex;
    align-items: flex-start;
}
.blog-item:not(:last-child){
    margin-bottom: 67px;
}
.blog-item-img {
    width: 403px;
    height: 283px;
    margin-right: 22px;
}
.blog-item-content-info {
    display: flex;
    margin-bottom: 18px;
}
.blog-item-content-info-date {
    margin-right: 24px;
    padding: 12px 16px;
    border: 2px solid #786f6f;
    /* width: 35px; */
    color: #786F6F;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 500;
}
.blog-item-content-info-name {
    color: #C1301D;
    font-size: 14px;
    font-weight: 400;
}
.blog-item-content-info-name .by-name{
    color: #786f6f;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
}

.blog-item-content-text {
    margin-bottom: 26px;
    color: #786F6F;
    font-size: 11px;
    font-weight: 600;
    line-height: 21px; /* 190.909% */
}
.blog-item-content-link {
    display: inline-block;
    color: var(--dark-red, #C1301D);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* LOGOS */
.logos {
    padding-top: 102px;
    padding-bottom: 85px;
    margin-bottom: 86px;
    background-color: #f8f8f8;
}
.logos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logos-list {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
}
.logos-item:not(:last-child) {
    margin-right: 50px;
}
.logos-item-img {
    display: inline-block;
}
.logos-text {
    margin-bottom: 5px;
    width: 617px;
    color: #786F6F;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 25px; /* 166.667% */
}
.logos-text-by {
    margin-bottom: 33px;
    color: #786F6F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px; /* 138.889% */
}
.logos-round {
    display: flex;
    align-items: center;
}
.logos-round-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #786F6F;
}
.logos-round-item:not(:last-child){
    margin-right: 5px;
}
.logos-round-item:hover{
    background-color: #C1301D;
}

/* GET-IN-TOUCH FORMS */
.forms {
    margin-bottom: 87px;
}
.forms-heading {
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 400;
}
.touch-forms-text {
    margin-bottom: 61px;
    color: #786F6F;
    text-align: center;
    font-size: 14.2px;
    font-weight: 400;
}
.forms-wrwpper {
    display: flex;
    justify-content: space-between;
}
.forms-connection {

}
.forms-connection-list {
}
.forms-connection-item:not(:last-child) {
    margin-bottom: 32px;
}
.forms-connection-item-title {
}
.forms-connection-item-text {
}